@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Mulish:ital,wght@0,400;0,800;1,300&display=swap');
body{
font-family: 'Mulish', sans-serif;
}
h1{
  text-align: center;
  font-size: 30px;
  max-width: 500px;
  margin: 10px auto;
}
.shopping{
  display: flex;
  justify-content: space-between;
}
.left{
  width: 100%;
  margin-top: 190px;
}
img{
  margin: 10px;
  width: 40%;
}
h3{
  text-align: center;
}
.right{
  width: 100%;
}
.right-images{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.preview{
  font-size: 20px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  margin: auto;
  border-radius: 90px;
  border-radius: 47px;
  background: #e0e0e0;
  box-shadow: 11px 11px 26px #b3b3b3,
            -11px -11px 26px #ffffff;
}
input{
  width: 200px;
  height: 30px;
  margin-right: 10px;
  font-family: inherit;
}
input:focus{
  border: 0;
}
.grocery-container{
  margin: 20px auto;
  width: 100%;
}
.grocery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
p{
  font-size: 20px;
}
.edit-btn{
  font-size: 15px;
  margin: 0 5px;
}
.delete-btn {
  font-size: 15px;
  margin: 0 5px;
}
button{
  border: 0;
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
}
button:active{
  transform: scale(1.1);
}
.submit-btn{
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.btn{
  display: grid;
  align-items: center;
  margin: 10px auto;
  color: rgb(160, 47, 47);
  padding: 5px;
}
.alert-success{
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 20px;
}
.alert-danger{
  background-color: red;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
.title{
  width: 80%;
}
@media screen and (max-width: 1100px) {
  .shopping {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }
  .left {
      width: 100%;
      margin-top: 20px;
    }
}
@media screen and (max-width: 800px) {
  section {
    width: 90%;
  }
  .grocery-list {
    width: 90%;
  }
}